
<div class="container-fluid layout-links">
    <div class="row">        
      <div class="col-md-4 layout-link layout-link-1">
        <a href="#"></a>
      </div>
      <div class="col-md-4 layout-link layout-link-2">
        <a href="#"></a>
      </div>
      <div class="col-md-4 layout-link layout-link-3">
        <a href="#"></a>
      </div>
    </div>
  
  </div>
</div>
