{%- block doctype %}<!DOCTYPE html>{% endblock -%}

{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}
  <head{% block headtag %}{% endblock %}>
    {% block meta %}
      <meta charset="utf-8" />
      {% block meta_generator -%}
        <meta name="generator" content="ckan {{ h.ckan_version() }}" />
      {%- endblock %}
      {% block meta_viewport -%}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock %}
      {% block meta_description -%}
        <meta name="description" value="Datos legislativos | Congreso de la República de Guatemala | Guatemala">
      {%- endblock %}
    {% endblock %}    
    <title>
      {%- block title -%}
        Datos Legislativos | {{ g.site_title }}
      {%- endblock -%}
    </title>
    {% block links -%}
      <link rel="shortcut icon" href="/img/favicon.ico" />
    {% endblock -%}
    {%- block styles %}
      {% resource g.main_css[6:] %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/congreso.css" />
    {% endblock %}
    {% block head_extras %}
      {# defined in the config.ini under "ckan.template_head_end" #}
      {{ g.template_head_end | safe }}
    {% endblock %}
    {%- block custom_styles %}
      {%- if g.site_custom_css -%}
      <style>
        {{ g.site_custom_css | safe }}
      </style>
      {%- endif %}
    {% endblock %}
  </head>


  <body{% block bodytag %} data-site-root="{{ h.url_for('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url_for('/', qualified=true) }}" {% endblock %}>
    {%- block page %}{% endblock -%}
    {%- block scripts %}
    {% endblock -%}
    {% block body_extras -%}
      {{ g.template_footer_end | safe }}
    {%- endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
